node_modules/
rovero/node_modules/
rovero/.next/
rovero/.next/static/
rovero/.next/cache/.DS_Store
rovero/.next/types/app/
rovero/.next/static/webpack/
rovero/.next/server
.DS_Store
rovero/.DS_Store
rovero/package-lock.json